# Arquivos e pastas não devem ser enviados para o GitHub
/vendor/

# Ignorar todos os arquivos de log
logs/*

# execeto o arquivo .empty
!logs/.empty

# Ignorar arquivos de configuração do ambiente
.env